* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

/* 
  CHAT BACKGROUND: background: radial-gradient(circle, rgba(31,49,71,1) 35%, rgba(20,29,44,1) 80%);
  SECUNDARY BG COLOR: background-color: #39575F;
  FONT COLOR: color: #95A1A1;
*/

#chat-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.4fr 16fr 1fr;
  grid-template-columns: 1fr;
}

#header-container {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(20, 29, 44, 1);
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.5);
  z-index: 9;
}

#header-container img {
  width: 50px;
}

#header-container span {
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#messages-container {
  width: 100%;
  max-height:min-content;
  background: radial-gradient(circle, rgba(31,49,71,1) 35%, rgba(20,29,44,1) 80%);
  padding: 18px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: scroll;
}

.msg {
  background-color: #83897f;
  border-radius: 8px 5px 5px 8px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  transition: all 0.5s;
}

.msg-header {
  text-align: right;
  padding: 5px;
}

.msg-header {
  font-size: 0.7em;
  color: #33444f;
  text-shadow: none;
}

.msg-header span:first-child {}

.msg-header span:last-child {
  color: #33444f;
}

.msg p {
  word-break: break-all;
  max-width: 250px;
  color: white;
  font-size: 0.9em;
  padding: 0px 14px 14px;
}

.msg:last-child {
  margin-bottom: 0;
}

.current-user-msg {}

.another-user-msg {
  align-self: flex-start;
}

#input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(17, 25, 38);
}

#input-container input {
  width: 88%;
  height: 100%;
  background-color: rgba(31,49,71,1);
  padding: 15px;
  font-size: 0.8em;
  color: #b0b8b5;
  letter-spacing: 0.5px;
}

#input-container input::placeholder {
  font-size: 1.1em;
  color: #ffffff5e;
  letter-spacing: 1px;
}

#input-container button {
  width: 12%;
  height: 100%;
  background-color: rgba(31,49,71,1);
  border-left: 2px solid rgba(20, 29, 44);
  cursor: pointer;
}

#input-container button img {
  width: 25px;
}

#insert-name {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: radial-gradient(circle, rgba(20,29,44,1) 35%, rgba(31,49,71,1) 80%);
  z-index: 10;
  opacity: 0.89;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#insert-name input {
  height: 80px;
  width: 80%;
  padding: 15px;
  background-color: rgb(37 58 84);
  color: #b0b8b5;
  font-size: 1.09em;
  text-align: center;
  border-radius: 5px;
}

#insert-name input::placeholder {
  color: #ffffff5e;
}

#insert-name button {
  margin-top: 70px;
  padding: 18px 50px;
  border-radius: 5px;
  background-color: rgb(66 103 148);
  color: #b0b8b5;
  font-size: 1.01em;
}